# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.db-*
*.sqlite
*.sqbpro

# Environment variables
.env
*.env
.dev.env
.prod.env
